@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hue: 223;
  --trans-dur: 0.3s;
  --trans-timing: cubic-bezier(0.76, 0.05, 0.24, 0.95);
  --trans-timing-in: cubic-bezier(0.76, 0.05, 0.86, 0.06);
  --trans-timing-out: cubic-bezier(0.05, 0.76, 0.06, 0.86);
}

/* Dark mode styles */
.dark {
  color-scheme: dark;
}

@layer base {
  body {
    @apply bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-100 transition-colors duration-300;
  }
}
